.root {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 12px;

  &:nth-child(odd) {
    background: #eee;
  }

  &[data-selected='true'] {
    border: 1px solid green;
  }
}
